[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
ormar = "*"
alembic = "*"
aiosqlite = "*"
httpx = "*"
python-dotenv = "*"
pytest-asyncio = "*"
python-multipart = "*"
pandas = "*"
flower = "*"
reportlab = "*"
celery = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.10"
